oxModder/images/*.xcf
oxModder/images/*.pptx
oxModder/images/icon.png
oxModder/images/reference.ico
oxModder/images/specification.txt
oxModder/images/splashBackground_big.jpg

quine/quine_plan.txt
quine/toy_stdout.txt
quine/verifier.py